<ng-container *ngIf="data$ | async as data">
  <section
    class="w-full container mx-auto flex flex-col justify-center items-center"
  >
    <a routerLink="/register">Need an account?</a>

    <mc-backend-error-messages
      [backendErrors]="data.backendErrors"
      *ngIf="data.backendErrors"
    ></mc-backend-error-messages>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-[500px]">
      <fieldset class="mb-2">
        <input
          type="text"
          class="w-full"
          placeholder="Email"
          formControlName="email"
        />
      </fieldset>

      <fieldset class="mb-2">
        <input
          type="password"
          class="w-full"
          placeholder="password"
          formControlName="password"
        />
      </fieldset>

      <button type="submit" [disabled]="data.isSubmitting">Log in</button>
    </form>
  </section>
</ng-container>
